<!-- <div class="container d-flex align-items-center justify-content-center fill">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 20rem; height: 10rem">
                <div class="card-body">
                  <h5 class="card-title">Blog</h5>
                  <p class="card-text">Log in to access the posts</p>
                  <a routerLink="/login" class="btn btn-secondary">Log in</a>
                </div>
            </div>
        </div>        
    </div>    
</div> -->
<div class="container d-flex align-items-center justify-content-center fill">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <p class="card-text">Log in to access the posts</p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>                        
                        <button type="submit" class="btn btn-primary mt-2 float-end" [disabled]="!form.valid">Log in</button>                        
                    </form>                    
                </div>
            </div>
        </div>        
    </div>    
</div>