.container{
    margin-top: 20px;
}
.card {
    background: #f5f5f5;    
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);    
    color: #444;
    padding: 20px;

}

.row {
    width: 100%;
}