<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let post of posts">
            <div class="blog-card">                
                <div class="blog-card-content p-4">
                    <h3 class="h5 mb-3"><a [routerLink]="['/posts', post.id]">{{ post.title }}</a></h3>
                    <p>{{ post.content }}</p>
                    <div class="blog-card-footer">
                        <ul>
                            <li><fa-icon [icon]="faCalendarAlt"></fa-icon> {{ post.publishedAt | date }}</li>
                            <li><fa-icon [icon]="faComments"></fa-icon> {{ post.comments.length }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </div>    
</div>
