<div class="container d-flex align-items-center justify-content-center fill">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 20rem; height: 10rem">
                <div class="card-body">
                  <h5 class="card-title">Blog</h5>
                  <p class="card-text">Log in to access the posts</p>
                  <a routerLink="/login" class="btn btn-secondary">Log in</a>
                </div>
            </div>
        </div>        
    </div>    
</div>
